.backgroundimg {
  background-image: url("../../public/assets/image3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5); /* Dark color with transparency */
  background-blend-mode: darken;
  min-height: 100vh;
}
